parameters:
    # Secret
    secret: secret_value_for_symfony_demo_application

    # Database settings
    database_driver: pdo_mysql
    database_host: localhost
    database_name: to_configure
    database_user: to_configure
    database_password: to_configure

    # Set locale
    locale: en

    # SMTP
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
